.create {
  max-width: 480px;
  color: #555;
  margin: 60px auto;
}

.create label span {
  display: block;
  margin: 30px 0 10px;
}
.create p {
  margin: 10px;
  font-size: 0.8em;
}

.create .btn {
  display: block;
  width: 160px;
  font-size: 1em;
  color: #fff;
  padding: 14px 20px;
  border: 0;
  border-radius: 40px;
  background: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}
.create .ingradients {
  display: flex;
  align-items: center;
}

.create .ingradients .btn {
  margin: 0 0 0 10px;
}

.create em::after {
  content: ",";
}
.create em:last-child::after {
  content: ".";
}
.create.dark span,
.create.dark p,
.create.dark h2 {
  color: #e4e4e4;
}
